@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Category>
<h1>Something</h1>

<table border="1">

    <thead>
        <tr>
            <th>Name</th>
            <th>Display Order</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var i in Model.OrderBy(u => u.DisplayOrder)) {
            <tr>
                <td>@i.Name</td>
                <td>@i.DisplayOrder</td>
            </tr>
        }
    </tbody>

</table>